In [ ]:
df = pd.read_csv("ITEM_ALLOTMENT.csv")

Data Cleaning:

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from io import BytesIO
import base64
from IPython.display import display, HTML

# ---------- Config: Set your CSV path here ----------
csv_path = 'C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\ITEM_ALLOTMENT.csv'
# df = pd.read_csv("C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\ITEM_ALLOTMENT.csv") 
# ----------------------------------------------------

# Load CSV
df = pd.read_csv(csv_path)
print(f"\nâœ… Loaded '{csv_path}' successfully with shape: {df.shape}")

# Helper function: Generate base64-encoded histogram
def create_base64_dist_chart(series):
    fig, ax = plt.subplots(figsize=(3.5, 1.2))
    sns.histplot(series.dropna(), kde=True, ax=ax, color='skyblue', bins=20)
    ax.axis('off')
    plt.tight_layout()

    buffer = BytesIO()
    plt.savefig(buffer, format="png", dpi=150, bbox_inches='tight')
    plt.close(fig)
    buffer.seek(0)
    image_base64 = base64.b64encode(buffer.read()).decode('utf-8')
    return f'<img src="data:image/png;base64,{image_base64}"/>'

# Summary generation
results = []

for col in df.columns:
    series = df[col]
    total_records = len(series)
    non_null_count = series.count()
    null_count = series.isnull().sum()
    unique_values = series.nunique()
    duplicate_values = total_records - unique_values

    if pd.api.types.is_numeric_dtype(series):
        mean = series.mean()
        median = series.median()
        std_dev = series.std()
        min_val = series.min()
        max_val = series.max()
        dist_chart = create_base64_dist_chart(series)
    else:
        mean = median = std_dev = min_val = max_val = np.nan
        dist_chart = ""

    results.append({
        "Column": col,
        "Total_Records": total_records,
        "Non-Null_Count": non_null_count,
        "Null_Count": null_count,
        "Distinct_Values": unique_values,
        "Duplicate_Values": duplicate_values,
        "Mean": mean,
        "Median": median,
        "Std_Dev": std_dev,
        "Min_Value": min_val,
        "Max_Value": max_val,
        "Distribution_Chart": dist_chart
    })

# Display in HTML with embedded images
summary_df = pd.DataFrame(results)
html_table = summary_df.to_html(escape=False, index=False)
display(HTML(f"<div style='font-family:Arial;font-size:13px'>{html_table}</div>"))

âœ… Loaded 'C:\Users\NiveedaMaria\OneDrive - VALUE DRIVEN DATA DMCC\Desktop\RO-Emirates_Post\ITEM_ALLOTMENT.csv' successfully with shape: (94152, 59)

Data Analysis:

In [ ]:
import pandas as pd
from itertools import combinations
from collections import defaultdict
from os.path import basename

# -------- CONFIGURATION --------
csv_files = [
    # "C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\COURIER.csv",
    # "C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\COURIER_HEART_BEAT.csv",
    "C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\ITEM_ALLOTMENT.csv",
    "C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\ITEM_TRACK_LOG.csv",
    # "C:\\Users\\NiveedaMaria\\OneDrive - VALUE DRIVEN DATA DMCC\\Desktop\\RO-Emirates_Post\\TASK_SHEET_DETAILS.csv"
]

distinct_threshold = 100  # Increase if required

# ---------- PROCESS EACH FILE ----------
for file_path in csv_files:
    print(f"\n========== File: {basename(file_path)} ==========\n")

    df = pd.read_csv(file_path)
    columns = df.columns

    # Group columns by adjusted prefix logic
    prefix_groups = defaultdict(list)
    for col in columns:
        parts = col.split("_")
        if len(parts) >= 3:
            prefix = "_".join(parts[:2])
        elif len(parts) == 2:
            prefix = parts[0]
        else:
            continue  # Ignore columns with no underscores
        prefix_groups[prefix].append(col)

    found_any = False

    for prefix, col_group in prefix_groups.items():
        if len(col_group) < 2:
            continue

        for col1, col2 in combinations(col_group, 2):
            col1_unique = df[col1].nunique(dropna=True)
            col2_unique = df[col2].nunique(dropna=True)

            print(f"â†’ Trying pair: {col1} + {col2} | Unique counts: {col1_unique}, {col2_unique}")

            if col1_unique < distinct_threshold and col2_unique < distinct_threshold:
                print(f"âœ… Valid Pair: {col1} + {col2}")

                grouped = df.groupby([col1, col2]).size().reset_index(name='Count')

                # Display properly
                try:
                    from IPython.display import display
                    display(grouped)
                except ImportError:
                    print(grouped.to_string(index=False))

                print("\n" + "-" * 60 + "\n")
                found_any = True
            else:
                print(f"âŒ Skipped (exceeds threshold)\n")

    if not found_any:
        print("âš ï¸  No valid column pairs found based on the current logic and threshold.\n")

========== File: ITEM_ALLOTMENT.csv ==========

â†’ Trying pair: PRODUCT_ID + PRODUCT_NAME | Unique counts: 7, 7
âœ… Valid Pair: PRODUCT_ID + PRODUCT_NAME

   PRODUCT_ID                                       PRODUCT_NAME  Count
0          56  Domestic Document Express - Corp / Domestic Do...  93856
1          60             Mail Room FOC  Fixed Run Shipments / 7     71
2          62  International Document Premium - Corp / Intern...     38
3          63  International Premium - Outbound (Corp) / Inte...    103
4          64  Domestic Document Premium - Corp / Domestic Do...      6
5          67  International Premium - Inbound (Corp) / Ù‚Ø³Ø· Ø§...      1
6          83        Domestic Document Express - VVIP Corp / 222     77

------------------------------------------------------------

â†’ Trying pair: CONTENT_TYPE_ID + CONTENT_TYPE_NAME | Unique counts: 22, 25
âœ… Valid Pair: CONTENT_TYPE_ID + CONTENT_TYPE_NAME

    CONTENT_TYPE_ID                                  CONTENT_TYPE_NAME  Count
0                27                                Documents / Ù…Ø³ØªÙ†Ø¯Ø§Øª     83
1                67                         Non Document / ØºÙŠØ± Ù…Ø³ØªÙ†Ø¯Ø§Øª    130
2               198                Infinite Debit Card-RpVIP / Ù…Ø³ØªÙ†Ø¯Ø§Øª      1
3               528                         Cheque Book - Mashreq Bank      3
4               528            Cheque Book - Mashreq Bank / Ø¨Ù†Ùƒ Ø§Ù„Ù…Ø´Ø±Ù‚   8798
5               529            Credit Card - Mashreq Bank / Ø¨Ù†Ùƒ Ø§Ù„Ù…Ø´Ø±Ù‚   1082
6               530                          Debit Card - Mashreq Bank      3
7               530             Debit Card - Mashreq Bank / Ø¨Ù†Ùƒ Ø§Ù„Ù…Ø´Ø±Ù‚  19655
8               531            Merged Card - Mashreq Bank / Ø¨Ù†Ùƒ Ø§Ù„Ù…Ø´Ø±Ù‚   2234
9               548     SME Token Issunace - Mashreq Bank / Ø¨Ù†Ùƒ Ø§Ù„Ù…Ø´Ø±Ù‚      4
10              576  Infinite Debit Card-NewVIP - Mashreq Bank / Ø¨Ù†...     20
11              577  Infinite Debit Card-RpVIP - Mashreq Bank / Ø¨Ù†Ùƒ...     35
12              578  Pvt Bking C-Book-Re-orderVIP - Mashreq Bank / ...     11
13              579  Pvt Banking Cheq Book-NwVIP - Mashreq Bank / Ø¨...      4
14              580  Pvt Bking Infinite MergedViP - Mashreq Bank / ...      7
15              663  Mashreq Bank Digital Onboarding Card / Mashreq...  15403
16              699  Mashreq Neo Welcome Kit / Mashreq Neo Welcome Kit  42190
17              796  Pay Order - Mashreq Bank / Pay Order - Mashreq...     34
18              797  No Liability Letter - Mashreq Bank / No Liabil...     24
19              798  Liability Letter - Mashreq Bank / Liability Le...    152
20              806  Statement/ Letter - Mashreq Bank / Statement/ ...   2671
21              807  POS Roll - Mashreq Bank / POS Roll - Mashreq Bank     68
22              809  Transfer Return - Reject Cheque / Transfer Ret...    292
23              810                     Outward Return - Reject Cheque      2
24              810  Outward Return - Reject Cheque / Outward Retur...   1246

------------------------------------------------------------

â†’ Trying pair: DELIVERY_DEPARTMENT_ID + DELIVERY_DEPARTMENT_NAME | Unique counts: 3, 3
âœ… Valid Pair: DELIVERY_DEPARTMENT_ID + DELIVERY_DEPARTMENT_NAME

   DELIVERY_DEPARTMENT_ID DELIVERY_DEPARTMENT_NAME  Count
0                     0.0                   Select    143
1                     3.0                Warehouse     45
2                     4.0                 Delivery  83432

------------------------------------------------------------

â†’ Trying pair: DELIVERY_ADDRESS + DELIVERY_ATTEMPTS | Unique counts: 88676, 36
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ADDRESS + DELIVERY_LATITUDE | Unique counts: 88676, 48654
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ADDRESS + DELIVERY_LONGITUDE | Unique counts: 88676, 48675
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ADDRESS + DELIVERY_DATE | Unique counts: 88676, 72679
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ADDRESS + DELIVERY_MODE | Unique counts: 88676, 2
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ATTEMPTS + DELIVERY_LATITUDE | Unique counts: 36, 48654
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ATTEMPTS + DELIVERY_LONGITUDE | Unique counts: 36, 48675
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ATTEMPTS + DELIVERY_DATE | Unique counts: 36, 72679
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ATTEMPTS + DELIVERY_MODE | Unique counts: 36, 2
âœ… Valid Pair: DELIVERY_ATTEMPTS + DELIVERY_MODE

    DELIVERY_ATTEMPTS DELIVERY_MODE  Count
0                 1.0       Counter      2
1                 1.0           D2D    613
2                 2.0       Counter    211
3                 2.0           D2D  58646
4                 3.0       Counter     73
5                 3.0           D2D   3314
6                 4.0       Counter     55
7                 4.0           D2D   7952
8                 5.0       Counter     17
9                 5.0           D2D   3856
10                6.0       Counter     27
11                6.0           D2D   2682
12                7.0       Counter      3
13                7.0           D2D    475
14                8.0       Counter     13
15                8.0           D2D   1419
16                9.0       Counter      7
17                9.0           D2D    338
18               10.0       Counter      1
19               10.0           D2D    299
20               11.0           D2D    275
21               12.0           D2D    186
22               13.0           D2D     63
23               14.0           D2D    106
24               15.0       Counter      1
25               15.0           D2D     38
26               16.0           D2D     29
27               17.0       Counter      1
28               17.0           D2D     36
29               18.0       Counter      1
30               18.0           D2D     12
31               19.0           D2D      5
32               20.0           D2D      5
33               21.0           D2D      7
34               22.0           D2D      4
35               23.0           D2D      9
36               24.0           D2D      1
37               25.0           D2D      2
38               26.0       Counter      1
39               26.0           D2D      2
40               27.0           D2D      3
41               28.0           D2D      2
42               31.0           D2D      1
43               35.0           D2D      1
44               44.0           D2D      1
45               59.0           D2D      2
46               61.0           D2D      1
47               65.0           D2D      1
48              197.0           D2D      1

------------------------------------------------------------

â†’ Trying pair: DELIVERY_LATITUDE + DELIVERY_LONGITUDE | Unique counts: 48654, 48675
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_LATITUDE + DELIVERY_DATE | Unique counts: 48654, 72679
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_LATITUDE + DELIVERY_MODE | Unique counts: 48654, 2
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_LONGITUDE + DELIVERY_DATE | Unique counts: 48675, 72679
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_LONGITUDE + DELIVERY_MODE | Unique counts: 48675, 2
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_DATE + DELIVERY_MODE | Unique counts: 72679, 2
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_EMIRATE_ID + DELIVERY_EMIRATE_NAME | Unique counts: 9, 28
âœ… Valid Pair: DELIVERY_EMIRATE_ID + DELIVERY_EMIRATE_NAME

    DELIVERY_EMIRATE_ID        DELIVERY_EMIRATE_NAME  Count
0                   1.0                        DUBAI  11907
1                   1.0                        Dubai    701
2                   1.0                  Dubai / Ø¯Ø¨ÙŠ   2863
3                   1.0                    Dubai/Ø¯Ø¨ÙŠ  48614
4                   2.0                    ABU DHABI      6
5                   2.0                    Abu Dhabi     13
6                   2.0           Abu Dhabi / Ø£Ø¨ÙˆØ¸Ø¨ÙŠ   1251
7                   2.0             Abu Dhabi/Ø£Ø¨ÙˆØ¸Ø¨ÙŠ   7814
8                   3.0                      SHARJAH     24
9                   3.0                      Sharjah      4
10                  3.0            Sharjah / Ø§Ù„Ø´Ø§Ø±Ù‚Ø©    499
11                  3.0              Sharjah/Ø§Ù„Ø´Ø§Ø±Ù‚Ø©  10149
12                  4.0                        AJMAN     11
13                  4.0                        Ajman      4
14                  4.0                Ajman / Ø¹Ø¬Ù…Ø§Ù†    546
15                  4.0                  Ajman/Ø¹Ø¬Ù…Ø§Ù†   5410
16                  5.0                     FUJAIRAH      1
17                  5.0           Fujairah / Ø§Ù„ÙØ¬ÙŠØ±Ø©     65
18                  5.0             Fujairah/Ø§Ù„ÙØ¬ÙŠØ±Ø©    736
19                  6.0               RAS AL KHAIMAH      2
20                  6.0               Ras Al Khaimah      2
21                  6.0  Ras Al Khaimah / Ø±Ø£Ø³ Ø§Ù„Ø®ÙŠÙ…Ø©    251
22                  6.0    Ras Al Khaimah/Ø±Ø£Ø³ Ø§Ù„Ø®ÙŠÙ…Ø©   1099
23                  7.0                Umm Al Quwain      1
24                  7.0    Umm Al Quwain / Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†    249
25                  7.0      Umm Al Quwain/Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†    319
26                 12.0               Al Ain / Ø§Ù„Ø¹ÙŠÙ†    362
27                 12.0                 Al Ain/Ø§Ù„Ø¹ÙŠÙ†   1106

------------------------------------------------------------

â†’ Trying pair: DELIVERY_COUNTRY_ID + DELIVERY_COUNTRY_NAME | Unique counts: 41, 42
âœ… Valid Pair: DELIVERY_COUNTRY_ID + DELIVERY_COUNTRY_NAME

,DELIVERY_COUNTRY_ID,DELIVERY_COUNTRY_NAME,Count
0,3,ALGERIA / ALGERIA,1
1,11,AUSTRALIA / AUSTRALIA,1
2,21,BELGIUM / BELGIUM,1
3,36,CANADA / CANADA,1
4,57,CYPRUS / CYPRUS,2
5,65,EGYPT ARAB REP. / EGYPT ARAB REP.,13
6,70,ETHIOPIA / ETHIOPIA,1
7,76,FRANCE / FRANCE,7
8,82,GERMANY / GERMANY,4
9,85,GREAT BRITAIN & NORTHERN IRELAND / GREAT BRITA...,23
10,86,GREECE / GREECE,2
11,101,INDIA / INDIA,10
12,102,INDONESIA / INDONESIA,1
13,105,IRELAND / IRELAND,1
14,106,ITALY / ITALY,1
15,112,KENYA / KENYA,1
16,116,KUWAIT / KUWAIT,4
17,120,LEBANON / LEBANON,5
18,126,LITHUANIA / LITHUANIA,1
19,149,MOROCCO / MOROCCO,1
20,155,NETHERLANDS / NETHERLANDS,5
21,164,OMAN / OMAN,3
22,166,PAKISTAN / PAKISTAN,5
23,168,PANAMA REP. / PANAMA REP.,1
24,176,PORTUGAL / PORTUGAL,2
25,178,QATAR / QATAR,5
26,180,ROMANIA / ROMANIA,2
27,194,SAUDI ARABIA / SAUDI ARABIA,5
28,198,SINGAPORE / SINGAPORE,3
29,199,SLOVAKIA / SLOVAKIA,1
30,203,SOUTH AFRICA / SOUTH AFRICA,6
31,206,SPAIN / SPAIN,4
32,208,SRI LANKA / SRI LANKA,1
33,213,SWITZERLAND / SWITZERLAND,2
34,216,TAIWAN / TAIWAN,1
35,218,TANZANIA / TANZANIA,1
36,219,THAILAND / THAILAND,4
37,225,TURKEY / TURKEY,2
38,231,UNITED STATES OF AMERICA / UNITED STATES OF AM...,6
39,246,ZIMBABWE / ZIMBABWE,1
40,971,UNITED ARAB EMIRATES / Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ù…ØªØ­Ø¯Ø©,326
41,971,United Arab Emirates,93685

------------------------------------------------------------

â†’ Trying pair: CURR_BRANCH_CODE + CURR_BRANCH_NAME | Unique counts: 70, 71
âœ… Valid Pair: CURR_BRANCH_CODE + CURR_BRANCH_NAME

    CURR_BRANCH_CODE              CURR_BRANCH_NAME  Count
0                  1                         Dubai  63170
1                  2                     Abu Dhabi   4275
2                 21                       Sharjah  10334
3                 22                         Ajman   5859
4                 23                Ras Al Khaimah   1282
..               ...                           ...    ...
66               753        P-DUBAI SORTING CENTRE      1
67               754  P-Al Quoz Fourth Post Office     45
68               773          P-Al Ras Post Office     34
69               774     P-Dubai South Post Office     11
70              1330     Al Barsha Delivery Center     43

[71 rows x 3 columns]

------------------------------------------------------------

â†’ Trying pair: CURR_SECTION_CODE + CURR_SECTION_NAME | Unique counts: 5, 5
âœ… Valid Pair: CURR_SECTION_CODE + CURR_SECTION_NAME

   CURR_SECTION_CODE      CURR_SECTION_NAME  Count
0                  2                Calling  15361
1                  3               Delivery     36
2                  3              Warehouse     77
3                  4               Delivery  76464
4                  5  International Section    141
5                 99            Post Office   2073

------------------------------------------------------------

â†’ Trying pair: DELIVERY_REGION_CODE + DELIVERY_REGION_NAME | Unique counts: 806, 1294
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_COURIER_ID + DELIVERY_COURIER_NAME | Unique counts: 531, 619
âŒ Skipped (exceeds threshold)

â†’ Trying pair: DELIVERY_ZONE_ID + DELIVERY_ZONE_NAME | Unique counts: 20, 45
âœ… Valid Pair: DELIVERY_ZONE_ID + DELIVERY_ZONE_NAME

    DELIVERY_ZONE_ID                                 DELIVERY_ZONE_NAME  Count
0                  0                                             Select    141
1                115                Dubai Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¯Ø¨ÙŠ    103
2                115                  Dubai Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¯Ø¨ÙŠ      2
3                116                                       Sharjah City     28
4                116                       Sharjah City / Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø´Ø§Ø±Ù‚Ø©    499
5                116                         Sharjah City/Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø´Ø§Ø±Ù‚Ø©  10148
6                118                                         Ajman City     15
7                118                           Ajman City / Ù…Ø¯ÙŠÙ†Ø© Ø¹Ø¬Ù…Ø§Ù†    332
8                118                             Ajman City/Ù…Ø¯ÙŠÙ†Ø© Ø¹Ø¬Ù…Ø§Ù†   5406
9                119              Ajman Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¹Ø¬Ù…Ø§Ù†    214
10               119                Ajman Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¹Ø¬Ù…Ø§Ù†      4
11               120                                   Um Al Qwain City      1
12               120                 Um Al Qwain City / Ù…Ø¯ÙŠÙ†Ø© Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†     25
13               120                   Um Al Qwain City/Ù…Ø¯ÙŠÙ†Ø© Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†    316
14               121    Um Al Qwain Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†    224
15               121      Um Al Qwain Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø£Ù… Ø§Ù„Ù‚ÙˆÙŠÙ†      3
16               122                             Dhaid City/Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø°ÙŠØ¯      2
17               124                                Ras Al Khaimah City      4
18               124             Ras Al Khaimah City / Ù…Ø¯ÙŠÙ†Ø© Ø±Ø£Ø³ Ø§Ù„Ø®ÙŠÙ…Ø©     76
19               124               Ras Al Khaimah City/Ù…Ø¯ÙŠÙ†Ø© Ø±Ø£Ø³ Ø§Ù„Ø®ÙŠÙ…Ø©   1092
20               125  Ras Al Khaimah Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø±Ø£Ø³ Ø§...    175
21               125  Ras Al Khaimah Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø±Ø£Ø³ Ø§Ù„Ø®ÙŠÙ…Ø©      7
22               126                                      Fujairah City      1
23               126                      Fujairah City / Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ÙØ¬ÙŠØ±Ø©     36
24               126                        Fujairah City/Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ÙØ¬ÙŠØ±Ø©    627
25               127         Fujairah Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ÙØ¬ÙŠØ±Ø©     24
26               127           Fujairah Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ÙØ¬ÙŠØ±Ø©      1
27               128                    Khorfakkan City / Ù…Ø¯ÙŠÙ†Ø© Ø®ÙˆØ±ÙÙƒØ§Ù†      5
28               128                      Khorfakkan City/Ù…Ø¯ÙŠÙ†Ø© Ø®ÙˆØ±ÙÙƒØ§Ù†    108
29               129                                     Abu Dhabi City     19
30               129                      Abu Dhabi City / Ù…Ø¯ÙŠÙ†Ø© Ø£Ø¨ÙˆØ¸Ø¨ÙŠ    207
31               129                        Abu Dhabi City/Ù…Ø¯ÙŠÙ†Ø© Ø£Ø¨ÙˆØ¸Ø¨ÙŠ   4196
32               130           West Area - ODA / Ø§Ù„Ø¸ÙØ±Ø© Ø§Ù„Ù…Ù†Ø¸Ù‚Ø© Ø§Ù„ØºØ±Ø¨ÙŠØ©    498
33               130             West Area - ODA/Ø§Ù„Ø¸ÙØ±Ø© Ø§Ù„Ù…Ù†Ø¸Ù‚Ø© Ø§Ù„ØºØ±Ø¨ÙŠØ©     26
34               131                       Baniyas City / Ù…Ø¯ÙŠÙ†Ø© Ø¨Ù†ÙŠ ÙŠØ§Ø³    246
35               131                         Baniyas City/Ù…Ø¯ÙŠÙ†Ø© Ø¨Ù†ÙŠ ÙŠØ§Ø³   3577
36               132                          Al Ain City / Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø¹ÙŠÙ†     70
37               132                            Al Ain City/Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø¹ÙŠÙ†   1100
38               133             Al Ain Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø¹ÙŠÙ†    292
39               133               Al Ain Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ø¹ÙŠÙ†      6
40               149                                         Dubai City  12613
41               149                             Dubai City / Ù…Ù†Ø·Ù‚Ø© Ø¯Ø¨ÙŠ   2755
42               149                               Dubai City/Ù…Ù†Ø·Ù‚Ø© Ø¯Ø¨ÙŠ  48613
43               172          Baniyas Outside City / Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¨Ù†ÙŠ ÙŠØ§Ø³    299
44               172            Baniyas Outside City/Ø®Ø§Ø±Ø¬ Ù…Ø¯ÙŠÙ†Ø© Ø¨Ù†ÙŠ ÙŠØ§Ø³     14

------------------------------------------------------------

â†’ Trying pair: IS_PUDO_DELIVERY + IS_PUDO_DROPOFF | Unique counts: 1, 1
âœ… Valid Pair: IS_PUDO_DELIVERY + IS_PUDO_DROPOFF

  IS_PUDO_DELIVERY IS_PUDO_DROPOFF  Count
0                N               N  94152

------------------------------------------------------------

â†’ Trying pair: LAST_ALLOTMENT_DATE + LAST_ALLOTMENT_CHANNEL | Unique counts: 77485, 3
âŒ Skipped (exceeds threshold)

â†’ Trying pair: LAST_PREFERRED_DATE + LAST_PREFERRED_FROM_TIME | Unique counts: 93, 3
âœ… Valid Pair: LAST_PREFERRED_DATE + LAST_PREFERRED_FROM_TIME

         LAST_PREFERRED_DATE LAST_PREFERRED_FROM_TIME  Count
0    2025-04-03 00:00:00.000                 09:00:00      5
1    2025-04-03 00:00:00.000                 13:00:00      2
2    2025-04-04 00:00:00.000                 09:00:00     21
3    2025-04-04 00:00:00.000                 13:00:00     13
4    2025-04-04 00:00:00.000                 17:00:00      3
..                       ...                      ...    ...
270  2025-07-17 00:00:00.000                 17:00:00      4
271  2025-07-18 00:00:00.000                 13:00:00      2
272  2025-07-18 00:00:00.000                 17:00:00      1
273  2025-07-19 00:00:00.000                 09:00:00      4
274  2025-07-19 00:00:00.000                 13:00:00      2

[275 rows x 3 columns]

------------------------------------------------------------

â†’ Trying pair: LAST_PREFERRED_DATE + LAST_PREFERRED_TO_TIME | Unique counts: 93, 3
âœ… Valid Pair: LAST_PREFERRED_DATE + LAST_PREFERRED_TO_TIME

         LAST_PREFERRED_DATE LAST_PREFERRED_TO_TIME  Count
0    2025-04-03 00:00:00.000               13:00:00      5
1    2025-04-03 00:00:00.000               17:00:00      2
2    2025-04-04 00:00:00.000               13:00:00     21
3    2025-04-04 00:00:00.000               17:00:00     13
4    2025-04-04 00:00:00.000               22:00:00      3
..                       ...                    ...    ...
270  2025-07-17 00:00:00.000               22:00:00      4
271  2025-07-18 00:00:00.000               17:00:00      2
272  2025-07-18 00:00:00.000               22:00:00      1
273  2025-07-19 00:00:00.000               13:00:00      4
274  2025-07-19 00:00:00.000               17:00:00      2

[275 rows x 3 columns]

------------------------------------------------------------

â†’ Trying pair: LAST_PREFERRED_FROM_TIME + LAST_PREFERRED_TO_TIME | Unique counts: 3, 3
âœ… Valid Pair: LAST_PREFERRED_FROM_TIME + LAST_PREFERRED_TO_TIME

  LAST_PREFERRED_FROM_TIME LAST_PREFERRED_TO_TIME  Count
0                 09:00:00               13:00:00  50987
1                 13:00:00               17:00:00  26614
2                 17:00:00               22:00:00   3666

------------------------------------------------------------

â†’ Trying pair: LAST_RESOLVED_DC + LAST_RESOLVED_ROUTE | Unique counts: 14, 389
âŒ Skipped (exceeds threshold)

â†’ Trying pair: LAST_RESOLVED_DC + LAST_RESOLVED_REGION | Unique counts: 14, 729
âŒ Skipped (exceeds threshold)

â†’ Trying pair: LAST_RESOLVED_ROUTE + LAST_RESOLVED_REGION | Unique counts: 389, 729
âŒ Skipped (exceeds threshold)

â†’ Trying pair: LAST_SORTING_DATE + LAST_SORTING_LOCATION | Unique counts: 82016, 877
âŒ Skipped (exceeds threshold)


========== File: ITEM_TRACK_LOG.csv ==========

â†’ Trying pair: LOG_DATE + LOG_TYPE | Unique counts: 981065, 27
âŒ Skipped (exceeds threshold)

â†’ Trying pair: STATUS_CODE + STATUS_DESC | Unique counts: 10, 12
âœ… Valid Pair: STATUS_CODE + STATUS_DESC

    STATUS_CODE              STATUS_DESC    Count
0             1            On Collection   157340
1             2                   At Hub  1564152
2             2                   At hub       14
3             3               In Transit   128962
4             4                  On Hold     4023
5             5         Out For Delivery        1
6             5         Out for Delivery   149339
7             6                Delivered    80448
8            11                Cancelled        1
9            13                   Delete       84
10           15     Ready to be Dispatch      149
11           16  Item added from counter     4266

------------------------------------------------------------

â†’ Trying pair: LIFE_CYCLE_CODE + LIFE_CYCLE_DESC | Unique counts: 65, 643
âŒ Skipped (exceeds threshold)

â†’ Trying pair: LOG_HUB_ID + LOG_HUB_NAME | Unique counts: 155, 186
âŒ Skipped (exceeds threshold)